*.blend1
GodotProject/.godot/
IntroScene/
Analisys/
Builds/

GodotProject/Textures/Raw/*.JPG
GodotProject/Textures/Raw/*.jpg
GodotProject/Textures/Raw/*.png
GodotProject/Textures/Raw/*.bmp

GodotProject/SoundSystem/Sounds/*.wav
GodotProject/SoundSystem/Sounds/*.ogg

TerrViewerProject/Textures/Raw/*.JPG
TerrViewerProject/Textures/Raw/*.jpg
TerrViewerProject/Textures/Raw/*.png

TerrViewerProject/UI/Sound/*.wav
