*.blend1
GodotProject/.godot/

GodotProject/Textures/Raw/*.JPG
GodotProject/Textures/Raw/*.jpg
GodotProject/Textures/Raw/*.png
GodotProject/Textures/Raw/*.bmp

GodotProject/SoundSystem/Sounds/*.wav
GodotProject/SoundSystem/Sounds/*.ogg

TerrViewerProejct/Textures/Raw/*.JPG
TerrViewerProejct/Textures/Raw/*.jpg
TerrViewerProejct/Textures/Raw/*.png

TerrViewerProejct/UI/Sound/*.wav
